@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
#root{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
textarea::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
textarea{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

button{
    text-transform: capitalize !important;
}